{
  "root": true,
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "plugin:promise/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript"
  ],
  "plugins": ["react", "@typescript-eslint/eslint-plugin", "import", "promise"],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
    "project": "tsconfig.json"
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest": true
  },

  "parser": "babel-eslint",
  "rules": {
    "strict": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "linebreak-style": ["error", "windows"],
    "indent": ["error", 4],
    "react/jsx-indent": [2, 4],
    "react/jsx-indent-props": [2, 4],
    "no-underscore-dangle": 0,
    "@typescript-eslint/interface-name-prefix": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "jsx-a11y/anchor-is-valid": "off"
  }
}
